@import "reset.css";

/* GLOBAL ATRIBUTES STARTS */
body, html{
    width: 100%;
    min-width:900px; 
    font-family:Verdana, Geneva, sans-serif;
    /*background-image:url(../images/samples/sample1.jpg);*/
    background-position:center center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4, h5 {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    vertical-align:top;
}

h2{
    font-size:40px;
}

p, li{
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
    color:#353434;
    line-height:24px;
}

a{
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
}
a:hover{color:#999;}

a.bg:hover,
a:hover .bg,
a.button:hover,
a.btn:hover,
a.imgLink:hover,
a.close{
    background-color:#999;
}
/* GLOBAL ATRIBUTES ENDS */

/* GLOBAL CLASSES STARTS */

.clear {
    clear:both;
}

.left {
    float:left;
}

.right {
    float:right;
}

.font{
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size:16px;
}

.textCenter{
    text-align:center;
}

.textLeft {
    text-align:left;
}

.textRight{
    text-align:right;
}

.marTop10 {
    margin-top:10px;
}

.padTop10{
    padding-top:10px;
}

.padder10{
    padding:10px;
}

.bold{
    font-weight:bold;
}

.block {
    display:block;
}

.req{
    display:none;
    color:#f00;
}

.hide{
    display:none;
}

img {
    vertical-align:bottom;
}
/* GLOBAL CLASSES ENDS */

/* MAIN CONTAINER STARTS */

#MainContainer{}

/* MAIN CONTAINER ENDS */

/* GENERAL STRUCTURE STARTS */

h1, h1 a{
	font-size:40px;
	color:#fff;
}
h1{
	float:left;
}

#Top{
	background:#069;
	padding:10px 0 0 20px;
	overflow:hidden;
}

.userInfo{
	float:right;
	padding:10px 20px 20px 0;
	overflow:hidden;
}

.userInfo .userImage{
	float:left;
	background:#9C0;
	width:50px;
	height:50px;
}

.userInfo .userName{
	float:left;
	padding:0 10px 0 0;
}

.userInfo .userName p{
	display:block;
	padding:0 0 0 0;
	color:#fff;
}

.userInfo .userName a{
	color:#fff;
}

.userInfo .userName a:hover{
	color:#0CF;
}

.globalNav{
	background:#39C;
	overflow:hidden;
	padding:0 0 0 20px;
}

.globalNav li{
	float:left;
	line-height:30px;
	
}
.globalNav li a{
	display:block;
	background:#09F;
	color:#FFF;
	padding:0 20px 0 20px;
}

.globalNav li a:hover{
	background:#373737;
	color:#fff;
}


.centerHolder{
	overflow:hidden;
	width:900px;
	margin:0 auto;
	background:#693;
}

.footer{
	position:fixed;
	bottom:0;
	width:100%;
	background:#373737;
}

.footer p{
	color:#fff;
}

/* GENERAL STRUCTURE ENDS */
#Main{
	padding-top:20px;
}






















