/* VIDEO PLAYER STARTS */
.videoPlayer{
    height:auto; 
    position:relative;
    vertical-align:top;
/*    width:700px;*/
    float:left;
}

.videos_section{
    width:210px;
    float:left;
    margin-left:10px;
    background:#960;
    max-height:270px;
    overflow:auto;
}

.videos_section li{
    overflow:hidden;
    background:#373737;
}

.videos_section li:hover{
    background:#666;
}

.videos_section li:hover a, .videos_section li a:hover{
    color:#CCC;
}

.videos_section li a{
    color:#39C;
    display:block;
    padding-top:5px;
}

.videos_section li span{
    padding-left:10px;
    display:block;
    text-align:center;
}

.videos_section li img{
    width:150px;
    margin:0 0 0 20px;
    border:1px solid #000;
}

/* VIDEO PLAYER ENDS */
